<div xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="True">
    <link rel="stylesheet" href="/static/style/section_stimulus.css"/>
    <link rel="stylesheet" href="/static/style/subsection_brain.css" type="text/css"/>

    <script type="text/javascript" src="/static/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/static/flot/jquery.flot.symbol.js"></script>
    <script type="text/javascript" src="/static/flot/jquery.flot.axislabels.js"></script>
    <script type="text/javascript" src="/static/js/spatial/base_spatial.js?4266"></script>
    <script type="text/javascript" src="/static/js/spatial/stimulus.js?4266"></script>
    <script type="text/javascript">checkForIE()</script>
    <!--added for selection component-->
    <script type="text/javascript" src="/static_view/connectivity/scripts/selectionControlScript.js?4266"></script>
    <script type="text/javascript" src="/static_view/connectivity/scripts/matrixScript.js?4266" ></script>

    <xi:include href="../flow/genericAdapterTemplateFunctions.html"/>
</div>