<section  class="manage-regions view-column col-2" xmlns:xi="http://www.w3.org/2001/XInclude">
	
	<h4><mark>Manage</mark> Regions</h4>
	
	<ul class="toolbar-inline">
		<li>
			<label for="current_weight">New scaling</label>
			<input type="text" name="current_weight" id="current_weight"/> 
			<button onclick="STIM_saveWeightForSelectedNodes();" class="action action-store" title="Scaling can change the intensity of the defined stimulus for individual nodes.">Set scaling</button>
		</li>
		<li>
			<button onclick="STIM_resetRegionStimulusWeights();" class="action action-reset" title="Reset all scalings defined in this session.">Reset scaling</button>
		</li>
	</ul>
	
    <xi:include href="../visualizers/connectivity/hemispheres.html"/>
    ${drawConnectivitySelection(selectedConnectivityGid)}

    <section class="hemisphere">
    	${drawHemisphereSection('Left', pointsLabels[:len(pointsLabels)/2], 0, 'setStimulusScale')}
    </section>
    <section class="hemisphere">
    	${drawHemisphereSection('Right', pointsLabels[len(pointsLabels)/2:], len(pointsLabels)/2, 'setStimulusScale')}
    </section>
        
</section>